/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --first-color: #000000;
  --body-color: #efefef;
  --body-font: 'Roboto', sans-serif;
  --normal-font-size: 1.25rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
  background-color: var(--body-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: 700;
}

a {
  text-decoration: none;
}


.button {
  margin-top: 10rem;
  position: relative;
  background-color: var(--first-color);
  color: #fff;
  padding: 1.2rem 2.20rem;
  border-radius: 3rem;
  transition: .4s;
  -webkit-tap-highlight-color: transparent;
}

/* .button::after {
  content: '';
  width: 80%;
  height: 20%;
  background: linear-gradient(80deg, 
            hsl(0, 0%, 46%) 10%, 
            hsl(0, 0%, 26%) 48%);
  position: absolute;
  left: 0;
  right: 0;
  bottom: -4px;
  margin: 0 auto;
  border-radius: 3rem;
  filter: blur(12px);
  z-index: -1;
  opacity: 0;
  transition: opacity .4s;
} */

.button__text {
  position: relative;
  z-index: 10;
}

.button img {
  position: absolute;
  inset: 0;
  outline: none;
  margin: auto;
  pointer-events: none;
  transition: .5s;
  opacity: 0;
}

/* Move 3D elements */
.button__1 {
  width: 18px;
  transform: translate(-25px, -6px) rotate(55deg);
  filter: blur(0.4px);
}

.button__2 {
  width: 38px;
  transform: translate(7px, -14px) rotate(0deg);
  filter: blur(0px);
}

.button__3 {
  width: 36px;
  transform: translate(34px, -4px) rotate(-45deg);
  filter: blur(0px);
}

.button__4 {
  width: 30px;
  transform: translate(-5px, 5px) rotate(40deg);
  filter: blur(0px);
}

.button__5 {
  width: 15px;
  transform: translate(20px, 15px) rotate(40deg);
  filter: blur(0.28px);
}

/* View shadow gradient
.button:hover::after {
  opacity: 1;
} */

/* Button scale */
.button:hover {
  transform: scale(1.3);
}

/* View 3D elements */
.button:hover img {
  opacity: 1;
}

.button:hover .button__1 {
  transform: translate(-50px, -8px) scale(1.6) rotate(-28deg);
}

.button:hover .button__2 {
  transform: translate(2px, -37px) scale(1.3) rotate(-80deg);
}

.button:hover .button__3 {
  transform: translate(70px, -25px) scale(1.6) rotate(25deg);
}

.button:hover .button__4 {
  transform: translate(-20px, 25px) scale(1.4) rotate(-20deg);
}

.button:hover .button__5 {
  transform: translate(30px, 10px) scale(1.9) rotate(-15deg);
}

footer{
  font-weight: 400;
  font-size: 1.1rem;
}
